/*------------------------------------*\
   Table of Contents:
     _GLOBAL
     _INTRO
     _INPUTS
     _COLUMNS
\*------------------------------------*/

/*------------------------------------*\
  _GLOBAL
\*------------------------------------*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
  background: #eee;
  font-family: Helvetica;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.container {
  overflow: hidden;
}
.container--inner {
  width: 90%;
  max-width: 960px;

  margin: 0 auto;
}
footer {
  display: none;
  text-align: center;
  margin-bottom: 1em;
}
@media all and (max-width: 480px) {
  footer {
    display: block;
  }
  .github-ribbon {
    display: none;
  }
}



/*------------------------------------*\
   _INTRO
\*------------------------------------*/
.intro {
  padding: 2em 1em;
  width: 50%;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
.intro__heading {
  font-size: 3em;
  text-transform: uppercase;
}
@media screen and (max-width: 960px) {
  .intro {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .intro__heading {
    font-size: 2em;
  }
}
@media screen and (max-width: 480px) {
  .intro {
    width: 100%;
  }
}




/*------------------------------------*\
   _INPUTS
\*------------------------------------*/
label,
input {
  display: block;
}
label {
  margin-bottom: .5em;
}
input {
  width: 100%;
  max-width: 20em;
  margin-bottom: .2em;
  font-size: 1em;
  border: 3px solid #ddd;
  padding: .2em .4em;
}
input:focus {
  outline: 3px solid orange;
}
input[type=submit] {
  color: white;
  margin-bottom: 0;
}
@media all and (max-width: 480px) {
  input {
    max-width: none;
  }
}



/*------------------------------------*\
   _COLUMNS
\*------------------------------------*/
.column-wrapper {
  display: table;
  width: 100%;
}
.column--left,
.column--right {
  width: 50%;
}
.column--left {
  float: left;
}
.column--right {
  float: right;
}
@media all and (max-width: 768px) {
  .column--left,
  .column--right {
    width: 100%;
  }
}



.behavior-code {
  padding: 1.5em 1em;
  min-height: 7em;

  background: #333;
  color: white;

  font-family: Consolas, monaco, monospace;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
.behavior-code--odd {
  background: #222;
}
.highlight {
  font-size: 0.9em;
  overflow-x: scroll;
}
@media screen and (max-width: 960px) {
  .highlight {
    font-size: 0.7em
  }
}
@media screen and (max-width: 768px) {
  .column-wrapper {
    display: block;
  }
  .behavior-code,
  .behavior-code--odd {
    background: 0;
    padding-top: 0;
  }
  .highlight {
    background: #333;
    padding: 1em;
  }
  .demo-section {
    margin-bottom: 4em;
  }
}

.behavior-demo {
  padding: 1em;
  padding-top: 0;
}
.behavior-demo__heading {
  font-size: 1.7em;
  font-weight: 100;
  text-transform: uppercase;
}
.fly__group {
  position: relative;
  padding-top: 2em;
}
.fly__label {
  font-size: .9em;
  text-transform: uppercase;
  position: absolute;
  transition: all .2s ease;
  top: 1em;
}
.fly__label--focus {
  color: orange;
}
